@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
button {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background: rgb(142, 142, 255);
  color: white;
  font-weight: bolder;
}
span {
  font-size: 17px;
}
.eq-container {
  background: rgb(224, 224, 224);
  display: flex;
  width: 530px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
